.footer {
    background-color: #00DAC7;
    color: white;
    padding: 20px;
    margin-bottom: 0;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
 
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Caveat', cursive;

  }
  
  .links ul {
    list-style: none;
    padding: 0;
  }
  
  .links ul li a {
    color: white;
    text-decoration: none;

  }
  
  .newsletter .inputGroup {
    display: flex;
    gap: 10px;
    
  }

  .newsletter {
    margin-left: 1000px;
    
   
    
  }
  
  .newsletter input {
    padding: 8px;
    border: none;
    border-radius: 5px;
  }
  
  .button {
    background-color: white;
    color: #45eed7;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid white;
    padding-top: 10px;
  }
  
  .about {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    gap: 10px; /* Espaço entre os elementos */
    
  }
  
  .links {
    margin-left: 500px;
  }
  
  .description {
    margin-left: 100px;
  }

